main{
  padding: 1rem;
}

.calculator{
  background-color: black;
  width:fit-content;
  padding:1.5rem;
  border-radius: 2rem;;
  margin: 0 auto;
}

.result{
  background-color: whitesmoke;
  padding:0.8rem;
  margin:1rem auto;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size:1.2rem;
}

button{
  border-radius: 50%;
  border:1px solid white;
  font-size:1.5rem;
  padding:1rem;
  margin: 0 0.2rem;
  font-weight: bold;
}
button:active{
  background-color: gray;
}
p{
  display:flex;
  justify-content: space-around;
  gap:0.5rem;
}